/* settings */
*{ margin:0; padding:0; list-style: none; text-decoration: none; box-sizing: border-box;  color:inherit; }
body{ height: 100vh; display: flex; justify-content: center; align-items: center; }
.container{ display: flex;  }
.linear{ border:3px solid black; }
.Tetris{ display: table; width: 400px; height: 800px; table-layout: fixed; border-collapse: collapse;}
.Tetris .row{ display: table-row; height: 39px; }
.Tetris .row .cell{ display: table-cell;  vertical-align: middle; text-align: center; }


#board{ margin-left:50px; }
#preview div{ display: flex; justify-content: center; align-items: center; margin-bottom:20px; width: 100px; height: 100px; border:1px solid lightgray; }
#preview li{ height: 20px; }
#preview li span{ display: inline-block; width: 20px; height: 20px; }

#storage{ display: flex; justify-content: center; align-items: center; margin-right:50px; width: 100px; height: 100px; border:1px solid lightgray; }
#storage li{ height: 20px; }
#storage li span{ display: inline-block; width: 20px; height: 20px; }

#score{ width: 100px; height: padding:10px 0; text-align:center;}


